
.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  
  a {
    color: rgb(202, 69, 69);
    margin-left: 15px;
  }
}
  
.home {
  .options{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    text-align: center;
  
    h2{
      padding: 40px 0;
      font-size: 30px;
    }
  
    p {
      display: none;
    }
  }
  
  .order-online{
    background-image: url(../../images/homepage/pizza-1.jpg);
    background-size: cover;
    height: 160px;
    width: 295px;
    border-radius: 4%;
    color: white;
    cursor: pointer;
  }